    .message-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .message-btns{
       position: fixed;
        // left: 335px;
        bottom: 35px;
        right: 30px;
        width: 85px;
        height: 112px;
        .btn{
          text-align: -webkit-right;
        }
    }
    .title {
        margin-top: 104px;
        margin-left: 24px;
        font-size: 24px;
        font-weight: 700;
        span{
            color: rgba(17,17,17,0.4);
        }
    }
    .write-box {
        margin-top: 32px;
        width: 100%;
        text-align: center;
        position: relative;
        span {
            position: absolute;
            bottom: 20px;
            right: 24px;
            color: rgba(17, 17, 17, 0.5);
        }
    }
    .message-color{
        width: 100%;
        margin: 36px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        place-items: center;
        row-gap: 20px;
        column-gap: 25px;
    }
    .sticker-wrap {
        width: 93%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        place-items: center;
        margin-top: 32px;
        .sticker{
            width: 95px;
            height: 95px;
            background-color: aquamarine;
            margin-top: 20px;
        }
    }
    img{
        -webkit-user-drag: none;
    }
    .more-wrap{
        align-self: flex-end;
        display: flex;
        cursor: pointer;
        .reaction-wrap{
            width: 25px;
            margin-left: 12px;
            display: flex;
            justify-content: space-around;
        }
        .like {
            fill:#111111;
            fill-opacity:0.5;
        }
        .like.on {
            fill: #ff0000;
            fill-opacity: 1;
        }
        span{
            font-size: 13px;
            line-height: unset;
        }
    }

.dis{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

header {
    position: relative;
    z-index: 51;
}

.go-login{
    position: fixed;
    bottom: 0;
    z-index: 52;
    width: 300px;
}

.solo-sticker-wrap{
    width: 98px;
    height: 98px;
    .x-box{
        width: 35px;
        height: 35px;
        border-radius: 28px;
        background-color: #333;
        position: absolute;
        right: -14px;
        top: -14px;
        cursor: pointer;
        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .check-box{
        width: 35px;
        height: 35px;
        border-radius: 28px;
        background-color: #333;
        position: absolute;
        left: -14px;
        top: -14px;
        cursor: pointer;
        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.click {
    border: 1.5px dashed;
    border-radius: 5px;
}